#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

# Architecture Configuration
CONFIG_ARCH="arm"
CONFIG_ARCH_BOARD="ek-ra8p1"
CONFIG_ARCH_BOARD_CUSTOM=y
CONFIG_ARCH_CHIP="ra8p"
CONFIG_ARCH_CHIP_R7KA8P1KFLCAC=y
CONFIG_ARCH_CHIP_RA8P=y
CONFIG_ARCH_FPU=y
CONFIG_ARCH_DSP=y
CONFIG_ARCH_MVE=y
CONFIG_ARCH_MPU=y

# Board Configuration
CONFIG_ARCH_BOARD_SUBFAMILY="ra8p"
CONFIG_BOARD_LOOPSPERMSEC=200000
CONFIG_BOARDCTL=y

# Clock Configuration
CONFIG_RA8P_ICLK_FREQUENCY=200000000
CONFIG_RA8P_PCLKA_FREQUENCY=100000000
CONFIG_RA8P_PCLKB_FREQUENCY=50000000

# Console Configuration
CONFIG_CONSOLE_SYSLOG=y
CONFIG_SYSLOG_DEVPATH="/dev/console"
CONFIG_RTT_CONSOLE=y
CONFIG_RTT_CONSOLE_DEVNUM=2

# Serial Configuration
CONFIG_SCIF_SERIAL_CONSOLE=y
CONFIG_SCIF0_SERIAL=n
CONFIG_SCIF1_SERIAL=n
CONFIG_SCIF2_SERIAL=y
CONFIG_RA8P_SCI_B_UART2=y
CONFIG_RA8P_SCI_B_UART0=n
CONFIG_RA8P_SCI_B_UART1=n
CONFIG_RA8P_SCI_B_UART3=n
CONFIG_RA8P_SCI_B_UART4=n

# Debug Configuration
CONFIG_DEBUG_FEATURES=y
CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_ERROR=y
CONFIG_DEBUG_WARN=y
CONFIG_DEBUG_SERIAL=y

# Memory Configuration
CONFIG_MM_REGIONS=4
CONFIG_ARCH_ADDRENV=y
CONFIG_MM_KERNEL_HEAP=y
CONFIG_HEAP2_BASE=0x22010000
CONFIG_HEAP2_SIZE=0x100000

# Built-in Application Configuration
CONFIG_BUILTIN=y
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_NSH_ROMFSETC=y
CONFIG_NSH_ARCHINIT=y

# NSH Library Configuration
CONFIG_NSH_DISABLEBG=y
CONFIG_NSH_FILEIOSIZE=512
CONFIG_NSH_CMDPARMSIZE=256
CONFIG_NSH_VARS=y

# LED and Button Configuration
CONFIG_USERLED_LOWER=y
CONFIG_USERSWITCH=y