#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_FHRE_C
	tristate "FHRE C language demo"
	default n
	---help---
		Enable the FHRE C language demo

if EXAMPLES_FHRE_C

config EXAMPLES_FHRE_C_PROGNAME
	string "Program name"
	default "fhre_c"
	---help---
		This is the name of the program that will be used when the
		program is installed.

config EXAMPLES_FHRE_C_PRIORITY
	int "FHRE C task priority"
	default 100

config EXAMPLES_FHRE_C_STACKSIZE
	int "FHRE C stack size"
	default DEFAULT_TASK_STACKSIZE

endif
