#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_FHRE_RS
	bool "FHRE Rust language demo"
	default n
	depends on FHRE_RS
	---help---
		Enable FHRE Rust language demo
