#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_FHRE_RUST
	tristate "FHRE Rust language demo"
	default n
	depends on FHRE_RUST
	---help---
		Enable the FHRE Rust language demo

if EXAMPLES_FHRE_RUST

config EXAMPLES_FHRE_RUST_PROGNAME
	string "Program name"
	default "fhre_rust"
	---help---
		This is the name of the program that will be used when the
		program is installed.

config EXAMPLES_FHRE_RUST_PRIORITY
	int "FHRE Rust task priority"
	default 100

config EXAMPLES_FHRE_RUST_STACKSIZE
	int "FHRE Rust stack size"
	default DEFAULT_TASK_STACKSIZE

endif
