#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config FHRE_CLANG
	bool "Feather Hybrid Render Engine (Clang version)"
	default n
	---help---
		Enable Feather Hybrid Render Engine (Clang version)