#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_FHRE_CLANG
	tristate "FHRE C language demo"
	default n
	depends on FHRE_CLANG
	---help---
		Enable the FHRE C language demo

if EXAMPLES_FHRE_CLANG

config EXAMPLES_FHRE_CLANG_PROGNAME
	string "Program name"
	default "fhre_clang"
	---help---
		This is the name of the program that will be used when the
		program is installed.

config EXAMPLES_FHRE_CLANG_PRIORITY
	int "FHRE C task priority"
	default 100

config EXAMPLES_FHRE_CLANG_STACKSIZE
	int "FHRE C stack size"
	default DEFAULT_TASK_STACKSIZE

endif
