config WING_RUST
	bool "Wing Rust implementation"
	default y if WING
	depends on WING
	select FHRE_RUST
	---help---
		Build the primary Wing implementation as no_std Rust.  This is the
		current mainline implementation.
