#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config WING_RUST
	bool "Wing desktop environment (Rust version)"
	default n
	depends on FHRE_RUST
	---help---
		Enable the Wing desktop environment library built on FHRE
