CONFIG_ARCH="arm"
CONFIG_ARCH_BOARD="stm32n6570-dk"
CONFIG_ARCH_BOARD_STM32N6570_DK=y
CONFIG_ARCH_CHIP="stm32n6"
CONFIG_ARCH_CHIP_STM32N6=y
CONFIG_ARCH_CHIP_STM32N657XX=y
CONFIG_ARCH_INTERRUPTSTACK=2048
CONFIG_ARCH_STACKDUMP=y
CONFIG_ARM_MPU=y
CONFIG_ARMV8M_DCACHE=y
CONFIG_ARMV8M_ICACHE=y
CONFIG_BINFMT_DISABLE=y
CONFIG_BOARD_LOOPSPERMSEC=64000
CONFIG_BUILTIN=y
CONFIG_DEV_CONSOLE=y
CONFIG_IDLETHREAD_STACKSIZE=2048
CONFIG_INIT_ENTRYPOINT="nsh_main"
CONFIG_INTELHEX_BINARY=y
CONFIG_LIBC_FLOATINGPOINT=y
CONFIG_LIBC_STRERROR=y
CONFIG_NFILE_DESCRIPTORS=32
CONFIG_NFILE_STREAMS=16
CONFIG_NSH_ARCHINIT=y
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_PREALLOC_TIMERS=4
CONFIG_RAM_SIZE=1048576
CONFIG_RAM_START=0x34000000
CONFIG_RAW_BINARY=y
CONFIG_RR_INTERVAL=200
CONFIG_SCHED_WAITPID=y
CONFIG_SERIAL=y
CONFIG_START_DAY=1
CONFIG_START_MONTH=1
CONFIG_START_YEAR=2026
CONFIG_STM32N6_AHB_PRESCALER=1
CONFIG_STM32N6_APB1_PRESCALER=1
CONFIG_STM32N6_APB2_PRESCALER=1
CONFIG_STM32N6_APB4_PRESCALER=1
CONFIG_STM32N6_APB5_PRESCALER=1
CONFIG_STM32N6_AXISRAM1=y
CONFIG_STM32N6_AXISRAM2=y
CONFIG_STM32N6_EXTI=y
CONFIG_STM32N6_GPIO=y
CONFIG_STM32N6_HCLK_FREQUENCY=64000000
CONFIG_STM32N6_HSE_FREQUENCY=48000000
CONFIG_STM32N6_HSI_FREQUENCY=64000000
CONFIG_STM32N6_RIF=y
CONFIG_STM32N6_RIF_OPEN=y
CONFIG_STM32N6_SYSCLK_FREQUENCY=64000000
CONFIG_STM32N6_TIMERS=y
CONFIG_STM32N6_USART1=y
CONFIG_STM32N6_USART2=y
CONFIG_SYSTEM_NSH=y
CONFIG_TIMER=y
CONFIG_USART1_BAUD=115200
CONFIG_USART1_BITS=8
CONFIG_USART1_PARITY=0
CONFIG_USART1_RXBUFSIZE=256
CONFIG_USART1_SERIAL_CONSOLE=y
CONFIG_USART1_TXBUFSIZE=256
CONFIG_USART2_BAUD=115200
CONFIG_USART2_BITS=8
CONFIG_USART2_PARITY=0
CONFIG_USART2_RXBUFSIZE=256
CONFIG_USART2_TXBUFSIZE=256
CONFIG_USEC_PER_TICK=1000
